{% extends "generic.html" %}
{% load thumbnail %}
{% block content %}
	<section id="one" class="wrapper alt style1">
		<div class="inner">
			<section class="features">
				{% for post in page_obj %}
					<article>
						{% thumbnail post.thumbnail "500x300" crop="center" as im %}
							<a href="{% url 'post_detail' pk=post.pk %}" class="image"><img src="{{ im.url }}" alt="" /></a>
						{% endthumbnail %}
						<h3 class="major">{{ post.title }}</h3>
						<p>{{ post.description}}</p>
						<a href="{% url 'post_detail' pk=post.pk %}" class="special">Read more</a>
					</article>
				{% endfor %}
			</section>
			{% include "pagination.html" %}
		</div>
	</section>
{% endblock %}