{% extends "generic.html" %}
{% load thumbnail %}
{% load static %}
{% block content %}
    <section id="one" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">Vitae phasellus</h2>
            <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
            <section class="features">
                {% for project in page_obj %}
                    <article>
                        {% thumbnail project.preview "500x300" crop="center" as im %}
                            <a href="{{ project.github_url }}" class="image"><img src="{{ im.url }}" alt="" /></a>
                        {% endthumbnail %}
                        <h3 class="major">{{ project.title }}</h3>
                        <p>{{ project.description}}</p>
                        <a href="{{ project.github_url }}" class="special">Github</a>
                        {% if project.project_url != "" %}
                            <a href="{{ project.project_url }}" class="special">Live Project</a>
                        {% endif %}
                    </article>
                {% endfor %}
            </section>
            {% include "pagination.html" %}
        </div>
    </section>    
{% endblock %}